body {
  --base-size: 94px;

  --card-base: min(23vw, 94px);
  --card-image-height: calc(var(--card-base) * 1.9); /*180px*/
  --card-info-height: calc(var(--card-base) * 0.85); /* 80px;*/
  --card-icon-width: 50%;
  --card-icon-left: 25%;
  --card-icon-top: calc(var(--card-base) * 0.32); /*30px;*/
  --card-button-width: 80px;

  --nav-height: 60px;

  --separator-margin: 30px;

  --green: rgb(10 132 110);
  --green-trans: rgba(10, 132, 110, 0.7);
  --brown: rgb(158 109 82);
  --white: #eee;

  font-family: sans-serif;

  width: min(96vw, 800px);
  margin: auto;
  box-shadow: 1px 0px 6px #0007;
}

div:has(svg) {
  display: flex;
  align-items: center;
}

.hero {
  position: relative;
}
.hero .logo {
  background-position: center;
  background-size: cover;

  justify-self: stretch;
  align-self: stretch;
}
.logo > .logo-img {
  height: calc(1.8 * var(--base-size));
}
.logo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero > .menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

header nav {
  display: none;
}

main h1 {
  color: var(--green);
  text-align: center;
  font-size: 24px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: calc(2 * var(--card-base));
  height: calc(2.8 * var(--card-base));

  margin: 5px;

  box-shadow: 5px 5px 3px #bbb;
}

.card:nth-of-type(2n + 1) {
  justify-self: right;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: var(--card-image-height);
  background-color: var(--green-trans);
}
.image-wrap img:first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-wrap img:last-child {
  position: absolute;
  width: var(--card-icon-width);
  left: var(--card-icon-left);
  top: var(--card-icon-top);
}
.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;

  align-items: center;
  /* justify-content: center; */

  width: 100%;
  height: var(--card-info-height);
  box-sizing: border-box;
  padding: 10px;
}

.card .card-info * {
  display: inline;
  margin: 0;
  text-align: left;
  font-size: 13px;
}
.card-info *:nth-child(2),
.card-info *:nth-child(3) {
  font-size: 11px;
}
.card-info *:nth-child(2) {
  font-weight: bolder;
  text-align: right;
}
.card .card-info button {
  width: var(--card-button-width);
  padding: 3px;
  text-align: center;
  background-color: brown;
  color: white;
  border-radius: 3px;
  border: none;
  display: none;
  font-size: 12px;
}

.card .card-info div {
  justify-self: right;
}

.main-start button,
.main-end button,
.main-content > button,
form button {
  padding-block: calc(0.07 * var(--base-size));
  padding-inline: calc(0.12 * var(--base-size));
  border-radius: 5px;
  border: none;
  background-color: var(--green);
  color: var(--white);
}

footer {
  margin-top: 50px;
}

.to-top-link {
  box-sizing: border-box;
  height: var(--nav-height);
  text-align: center;
  line-height: 0;
  padding-block: calc(0.5 * var(--nav-height));
}
.to-top-link a {
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--nav-height);
    border-bottom: 1px solid lightgray;
  }
  header nav a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
  }
  .hero .menu-icon {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-info.card-info.card-info img {
    display: none;
  }
  .card-info.card-info.card-info button {
    display: inline;
  }
  .card-info div {
    width: var(--card-button-width);
    display: inline;
    margin: 0;
    padding: 0;
  }
}
