body {
  /* --green: rgb(40, 153, 115); */
  --green: rgb(10 132 110);
  --green-trans: rgba(10, 132, 110, 0.7);
  /* --green-trans: rgba(40, 153, 115, 0.7); */
  /* --brown: rgb(141, 92, 72); */
  --brown: rgb(158 109 82);
  --white: #eee;

  /* --card-width: 300px;
  --card-height: 380px; */
  --card-image-height: 180px;
  --card-info-height: 80px;
  --card-icon-width: 50%;
  --card-icon-left: 25%;
  --card-icon-top: 30px;
  --card-button-width: 80px;
  /* --card-info-height: calc(var(--card-height) - var(var(--card-width))); */

  --icon-width: 94px;

  --nav-height: 60px;

  --separator-margin: 30px;

  font-family: sans-serif;

  margin: 0;
  width: min(96vw, 800px);
  margin: auto;
  /* border: 1px solid black; */
  box-shadow: 1px 0px 6px #0007;
}

div:has(svg) {
  display: flex;
  align-items: center;
  /* background-color: green; */
}
/* svg {
  background-color: blue;
} */

.hero {
  position: relative;
}
.hero .logo {
  background-position: center;
  background-size: cover;

  justify-self: stretch;
  align-self: stretch;
}
.logo > .logo-img {
  height: calc(1.8 * var(--icon-width));
}
.logo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero > .menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

header nav {
  display: none;
}

main h1 {
  color: var(--green);
  text-align: center;
  font-size: 24px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 10px; */
  /* align-items: center;
  justify-content: center; */
  /* justify-items: center; */
  /* align-content: center; */
}

.card {
  /* width: var(--card-width);
  height: var(--card-height); */
  width: calc(2 * var(--icon-width));
  height: calc(2.8 * var(--icon-width));

  margin: 5px;

  /* align-self: center;
  justify-self: center; */

  box-shadow: 5px 5px 3px #bbb;

  /* background-color: aquamarine; */
}

.card:nth-of-type(2n + 1) {
  justify-self: right;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: var(--card-image-height);
  /* height: 0;
  padding-bottom: 100%; */
  background-color: var(--green-trans);

  /* text-align: center; */
}
.image-wrap img:first-child {
  /* position: absolute; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}
.image-wrap img:last-child {
  position: absolute;
  width: var(--card-icon-width);
  /* width: var(--icon-width); */

  /* height: 60%; */
  left: var(--card-icon-left);
  top: var(--card-icon-top);
}
.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;

  align-items: center;
  /* justify-content: center; */

  width: 100%;
  height: var(--card-info-height);
  box-sizing: border-box;
  padding: 10px;
}

.card .card-info * {
  display: inline;
  margin: 0;
  /* margin: 0 10px 0 12px; */
  /* padding: 0; */
  text-align: left;
  /* background-color: rgb(170, 170, 221); */
  font-size: 13px;
}
.card-info *:nth-child(2),
.card-info *:nth-child(3) {
  font-size: 11px;
}
.card-info *:nth-child(2) {
  font-weight: bolder;
  text-align: right;
}
.card .card-info button {
  width: var(--card-button-width);
  padding: 3px;
  text-align: center;
  background-color: brown;
  color: white;
  border-radius: 3px;
  border: none;
  display: none;
  font-size: 12px;
}

.card .card-info div {
  justify-self: right;
}

.main-start button,
.main-end button,
.main-content > button,
form button {
  /* height: calc(0.3 * var(--icon-width)); */
  padding-block: calc(0.07 * var(--icon-width));
  padding-inline: calc(0.12 * var(--icon-width));
  border-radius: 5px;
  border: none;
  background-color: var(--green);
  color: var(--white);
}

footer {
  margin-top: 50px;
}

.to-top-link {
  /* margin-top: 100px; */
  box-sizing: border-box;
  height: var(--nav-height);
  text-align: center;
  line-height: 0;
  padding-block: calc(0.5 * var(--nav-height));
  /* background-color: aquamarine; */
}
.to-top-link a {
  text-decoration: none;
  color: black;
  /* position: static;
  margin: 0;
  margin-block: calc(0.2 * var(--nav-height));
  line-height: 0;
  padding-block: calc(0.2 * var(--nav-height)); */
}

.main-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

@media screen and (min-width: 600px) {
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10%; */
    height: var(--nav-height);
    border-bottom: 1px solid lightgray;
  }
  header nav a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
  }
  .hero .menu-icon {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 10px; */
    /* align-items: center;
  justify-content: center; */
    /* justify-items: center; */
    /* align-content: center; */
  }
  .card-info.card-info.card-info img {
    display: none;
  }
  .card-info.card-info.card-info button {
    display: inline;
  }
  .card-info div {
    width: var(--card-button-width);
    display: inline;
    margin: 0;
    padding: 0;
  }
}
